@charset "UTF-8";

h1{
  color:#56e428;
}

body{
  text-align: center;
  background:#4c33e3;
}

.appframe{
  background:#95ad43;
  width:420px;
  margin: auto;
  padding:10px;
  border-radius:10px;
}

ul{
  list-style: none;
  padding: 0;
}
li{
  border-top: solid 1px #b1daff;
  padding: 2px;
  cursor: pointer;
}
.active{
  background: #efefff;
  color: #ff6800;
}
li:hover{
  background: #efefff;
}
